.island-moments-regular {
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
	font-size: calc(100vw/ 1920);
}

body {
  font-size: 32rem;
  background-color: #BF6464;
  color: white;
}

.header {
  background-color: #4B4B4B;
}

.header__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__title {
  font-family: "Island Moments", cursive;
  font-size: 128rem;
}

.header__text {
  font-size: 40rem;
}

.header__text-color {
  color: rgba(255, 255, 255, 35%);
}

.header__img {
  height: 100rem;
}

.title {
  font-size: 96rem;
}

.main {
  margin: 0rem 50rem;
  margin-top: 100rem;
}

.intro {
  text-align: center;
}

.into__image {
  padding: 60rem 0rem;
  margin-top: 50rem;
  border-top: 5rem solid white;
  border-bottom: 5rem solid white;
}

.intro__img {
  height: 1000rem;
  border: 5rem solid #CF4C4C;
}


.warning {
  margin: 60rem -50rem 0rem -50rem;
  background-color: #CD7A7A;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width < 700px) {
    .warning {
      height: 700rem;
    }
}


.intro__end {
  margin-top: 200rem;
  padding-bottom: 100rem;
  border-bottom: 5rem solid white;

}


.achievements {
  margin-top: 300rem;
}

.achievements__items {
  display: flex;
  flex-direction: column;
  gap: 150rem;
}
.achievements__item {
  margin: 0rem -50rem;
  padding: 50rem 30rem;
  background-color: rgba(31, 31, 31, 87%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 10rem;
}
.achievements__item2 {
  background-color: rgba(31, 31, 31, 90%);
}
.achievements__item3 {
  background-color: rgba(31, 31, 31, 93%);
}
.achievements__item4 {
  background-color: rgba(31, 31, 31, 96%);
}
.achievements__item5 {
  background-color: rgba(31, 31, 31, 100%);
}

.achievements__img {
  width: 900rem;
  border: 5rem solid #CF4C4C;
}



.predforum {
  margin-top: 400rem;
}

.predforum__question {
  text-align: center;
  padding-bottom: 50rem;
  border-bottom: 5rem solid white;
}

.predforum__tittle {
  background-color: white;
  margin: 35rem -50rem 20rem -50rem;
  color: black;
  text-align: center;
  font-size: 70rem;
}

.forum {
  background-color: rgba(255, 255, 255, 37%);
  margin: 0rem -30rem;
}

.forum__items {
  padding: 90rem 80rem;
  position: relative;
  z-index: 1;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 50rem;
  position: relative;
  z-index: 1;
}


.comment__first {
  display: flex;
  flex-direction: column;
  gap: 50rem;
  position: relative;
  z-index: 1;
}

.comment__first::before {
  content: '';
  position: absolute;
  left: 0rem;
  top: 0rem;
  height: calc(100% - 50rem);
  border-left: 10rem solid #BF6464;
  z-index: -1;
}

.comment::before {
  content: '';
  position: absolute;
  left: 0rem;
  top: -50rem;
  height: 100%;
  border-left: 10rem solid #BF6464;
  z-index: -1;
}

.comment__item {
  font-family: "Inter";
  font-size: 32rem;
  background-color: #CD7A7A;
  padding: 20rem 30rem;
}

.comment__row {
  display: flex;
  align-items: center;
  gap: 20rem;
  margin-bottom: 15rem;
}

.comment__img {
  border-radius: 50rem;
  width: 70rem;
}

.comment__buttons {
  margin-top: 25rem;
}

.comment__button {
  color: white;
  padding: 10rem 50rem;
  background-color: #BF6464;
  border: none;
  font-family: "Inter";
  font-size: 30rem;
  cursor: pointer;
  transition: 0.1s linear;
}
.comment__button:hover {
  background-color: #bb3d3d;
}
.comment__button:active {
  cursor: default;
  background-color: #b40000;
}



.comment__chlidrens {
  margin-left: 100rem;
}



.answer {
  display: none;
  justify-content: end;
  border-radius: 50;
}
.answer__wrapper:after {
  content: '';
  position: absolute;
  left: 90rem;
  top: 0rem;
  height: calc(100% - 50rem);
  border-left: 10rem solid #BF6464;
  z-index: -1;
}
.answer-active {
  display: flex;
}


.answer__wrapper__main {
  padding: 20rem;
  align-items: center;
  border-radius: 10rem;
  width: 100% ;
  background-color: #CD7A7A;
}
.answer__wrapper__main:after {
  content: '';
  position: absolute;
  left: 80rem;
  top: 100rem;
  height: calc(100% - 200rem);
  border-left: 10rem solid #BF6464;
  z-index: -1;
}

.answer__wrapper {
  padding: 20rem;
  align-items: center;
  border-radius: 10rem;
  width: calc(100% - 130rem);
  background-color: #CD7A7A;
}

.answer__input {
  width: 98%;
  border: none;
  padding: 10rem;
  font-size: 32rem;
  font-family: "Inter", sans-serif;
  border-radius: 10rem;
}

.answer__buttons {
  margin-top: 10rem;
  text-align: end;
}




.footer{
  padding: 0rem 50rem 20rem 50rem;
  margin: 200rem -50rem 0rem -50rem;
  background-color: #4B4B4B;
  font-size: 24rem;
}

.footer__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 24rem;
  border-bottom: 4rem solid #5B5757;
}

.footer__info {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 30rem; 
  position: relative;
}

.footer__item__center::after {
  content: '';
  position: absolute;
  left: -80rem;
  top: 0rem;
  height: calc(100% + 24rem);
  border-right: 4rem solid #5B5757;
  border-left:  4rem solid #5B5757;
}

.footer__item__center::before {
  content: '';
  position: absolute;
  right: 80rem;
  top: 0rem;
  height: calc(100% + 24rem);
  border-left:  4rem solid #5B5757;
}

.footer__title {
  margin-top: 30rem;
  margin-bottom: 10rem;
  font-size: 32rem;
}

.footer__img {
  width: 35rem;
}

.footer__copy {
  display: flex;
  align-items: center;
}